body {
    background-image: url(../index_background.jpg);
}

.login-box {
    position: absolute;
    left: 20%;
    top: 25%;
    width: 300px;
    height: 400px;
}

.ms-title {
    width: 300px;
    height: 78px;
    /*background-color: rgba(27, 172, 250, 0.11);*/
}

.ms-login {
    position: absolute;
    width: 300px;
    height: 290px;
    top: 78px;
    background: rgba(255, 255, 255, 0.61);
}

.img {
    position: absolute;
    top: 20px;
}

.text {
    position: absolute;
    right: 10%;
    top: 30px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
}
/*工号、密码、验证码输入框*/
.jobNumber,
.password,
.authCode {
    position: absolute;
    left: 10%;
    top: 10%;
    height: 30px;
    width: 220px;
    border: 1px solid #bfcbd9;
    border-radius: 5px;
    padding: 1px 5px;
}

.password {
    top: 30%;
}

.authCode {
    top: 50%;
    width: 110px;
}
/*验证码图片*/
.authCode-pic {
    position: absolute;
    top: 50%;
    right: 15%;
    width: 90px;
    border: 1px solid #bfcbd9;
    border-radius: 5px;
    height: 30px;
}
/*登录按钮*/
.login-button {
    position: absolute;
    top: 70%;
    right: 15%;
    width: 220px;
    border: 1px solid #bfcbd9;
    border-radius: 5px;
    height: 30px;
    background-color: #51689f;
    
}

.tip{
   position: absolute;
    top: 78%;
    font-size: 15px;
    font-style: italic;
    color: #51689f;
}